body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.header {
  display: flex;
  padding: 1rem;
  align-items: center;
  gap: 10px;
}

.title {
  margin-right: auto;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.nav-links Navlink {
  text-decoration: none;
}

.mission {
  display: flex;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
}

.table {
  display: flex;
  flex-direction: column;
  border: 0.1px solid grey;
}

.mission {
  display: flex;
  border: 0.1px solid grey;
}

.mission:nth-child(even){background-color: #f2f2f2;}

.mission h2,
.name {
  width: 20rem;
  border: 0.1px solid grey;
  margin: 0;
}

.mission p,
.des {
  width: 65%;
  border: 0.1px solid grey;
  margin: 0;
}

.table-headers {
  display: flex;
}

