body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.header {
  display: flex;
  padding: 1rem;
  align-items: center;
  gap: 10px;
}

.title {
  margin-right: auto;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.nav-links Navlink {
  text-decoration: none;
}

